<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=50)">
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=50)">

    <title>套餐管理</title>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">


    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="../plugins/morris/morris.css">
    <link rel="stylesheet" href="../plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="../plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../plugins/treeTable/jquery.treetable.css">
    <link rel="stylesheet" href="../plugins/treeTable/jquery.treetable.theme.default.css">
    <link rel="stylesheet" href="../plugins/select2/select2.css">
    <link rel="stylesheet" href="../plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="../plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/ionslider/ion.rangeSlider.css">
    <link rel="stylesheet" href="../plugins/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet" href="../plugins/bootstrap-slider/slider.css">
    <link rel="stylesheet" href="../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css">

    <style>

    </style>
</head>

<body class="hold-transition  sidebar-mini">
<!-- 内容头部 -->
<section class="content-header">
    <h1>
        套餐管理
        <small>数据列表</small>
    </h1>
</section>

<!-- 内容头部 /-->
<!-- 正文区域 -->
<section class="content">

    <!-- .box-body -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">列表</h3>
        </div>

        <div class="box-body">

            <!-- 数据表格 -->
            <div class="table-box">

                <!--工具栏-->
                <div class="pull-left">
                    <div class="form-group form-inline">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" title="删除" onclick="deleteUser()" ><i class="fa fa-trash-o"></i> 删除
                            </button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-container-add"><i class="fa fa-file-o"></i> 添加套餐
                            </button>
                            <button type="button" class="btn btn-default" title="刷新" onclick="refresh()"><i class="fa fa-refresh"></i> 刷新
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <input type="text" class="form-control input-sm" placeholder="输入套餐名搜索" id="searchContent">
                        <a href="#" id="search" class="glyphicon glyphicon-search form-control-feedback"></a>
                    </div>
                </div>
                <!--工具栏/-->

                <!--数据列表-->
                <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="" style="padding-right:0px;">
                            <input id="selall" type="checkbox" class="icheckbox_square-blue">
                        </th>
                        <th >套餐名</th>
                        <th >个人空间</th>
                        <th >团队空间</th>
                        <th >期限</th>
                        <th >价格</th>
                        <th >类型</th>
                        <th >状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="meals:${pageResult.getContent()}" style="border-bottom: 1px solid #5c6671">
                        <input type="hidden" class="meal-type1" th:attr="data-type=${meals.getmType()}">
                        <td><input type="checkbox" class="content-mealId"  th:attr="data-mealId=${meals.getMealId()}"/></td>
                        <td class="content-mealName">[[${meals.getMealName()}]]</td>
                        <td class="content-perSpace" th:attr="data-perspace=${meals.getPerSpace()}"><span>[[${#numbers.formatInteger(meals.getPerSpace()/1024/1024/1024,0)}]]</span>GB</td>
                        <td  class="content-teamSpace" th:attr="data-teamspace=${meals.getTeamSpace()}"><span>[[${#numbers.formatInteger(meals.getTeamSpace()/1024/1024/1024,0)}]]</span>GB</td>
                        <td><span class="content-deadline">[[${meals.getDeadline()}]]</span>年</td>
                        <td><span class="content-price" th:text="${meals.getPrice()}"></span>元</td>
                        <td th:if="${meals.getmType() eq 1}" class="meal-type" th:attr="data-type=${meals.getmType()}">个人套餐</td>
                        <td th:if="${meals.getmType() eq 2}" class="meal-type" th:attr="data-type=${meals.getmType()}">团队套餐</td>
                        <td th:if="${meals.getmStatus() eq 1}"><span style="color: #3300aa">已上架</span></td>
                        <td th:if="${meals.getmStatus() eq 0}"><span style="color: #7a8793">未上架</span></td>
                        <td class="text-center">
                            <button type="button" class="btn bg-olive btn-xs" th:if="${meals.getmStatus() eq 0}" th:onclick="|loadingAndunloading(${meals.getMealId()},${meals.getmStatus()})|">上架</button>
                            <button type="button" class="btn bg-olive btn-xs" th:if="${meals.getmStatus() eq 1}" th:onclick="|loadingAndunloading(${meals.getMealId()},${meals.getmStatus()})|">下架</button>
                            <button type="button" class="btn-edit btn bg-olive btn-xs " data-toggle="modal" data-target="#modal-container-edit">编辑</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <!--数据列表/-->
            </div>
            <!-- 数据表格 /-->
        </div>
        <!-- /.box-body -->

        <!-- .box-footer-->
        <div class="box-footer">
            <div class="box-tools pull-right">
                <input type="hidden" id="page_num" th:attr="data-page=${pageResult.getPageNum()}">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous" th:href="@{/comboMeal/backgroundList(pageNum=1,pageSize=10,mealName=${mealName})}">首页</a>
                    </li>
                    <li id="example2_previous" ><a  th:href="@{/comboMeal/backgroundList(pageNum=${pageResult.getPageNum()-1},pageSize=10,mealName=${mealName})}" th:if="${pageResult.getPageNum() ne 1}">上一页</a></li>
                    <li class="paginate_button page-item"  th:each="pageAll:${#numbers.sequence(1,pageResult.getTotalPages())}" >
                        <a  aria-controls="example2" th:if="${pageAll ne 0}" th:text="${pageAll}" th:href="@{/comboMeal/backgroundList(pageNum=${pageAll},pageSize=10,mealName=${mealName})}">1</a></li>
                    <li><a  th:href="@{/comboMeal/backgroundList(pageNum=${pageResult.getPageNum()+1},pageSize=10,mealName=${mealName})}">下一页</a></li>
                    <li>
                        <a  aria-label="Next" th:href="@{/comboMeal/backgroundList(pageNum=${pageResult.getTotalPages()},pageSize=10,mealName=${mealName})}">尾页</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.box-footer-->


    </div>

</section>



<!-- 》》》》》》》》》》》》》》》模态窗口 -->

<!--添加套餐-->
<div class="modal fade" id="modal-container-add" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="add">
                    添加
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="add-meal-form">

                    <div class="form-group">
                        <label for="add-meal-name" class="col-sm-2 control-label" style="padding-top:0;">
                            套餐名:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="mealName" id="add-meal-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-meal-type" class="col-sm-2 control-label" style="padding-top:0;">
                            套餐类型:
                        </label>
                        <div class="col-sm-10">
                            <select  id="add-meal-type"  name="mType">
                                <option value="1">个人套餐</option>
                                <option value="2">团队套餐</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-perspace" class="col-sm-2 control-label" style="padding-top:0;">
                            个人空间:
                        </label>
                        <div class="col-sm-10">
                            <input type="number" name="perSpace" id="add-perspace" style="width: 60px;">&nbsp;GB
                        </div>
                    </div>
                    <div class="form-group" id="add-teamspace-input" style="display: none">
                        <label for="add-teamspace" class="col-sm-2 control-label" style="padding-top:0;">
                            团队空间:
                        </label>
                        <div class="col-sm-10">
                            <input type="number" name="teamSpace" id="add-teamspace" style="width: 60px;">&nbsp;GB
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-deadline" class="col-sm-2 control-label" style="padding-top:0;">
                            期限:
                        </label>
                        <div class="col-sm-10">
                            <input type="number" name="deadline" id="add-deadline" style="width: 60px;">&nbsp;年
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-price" class="col-sm-2 control-label" style="padding-top:0;">
                            价钱:
                        </label>
                        <div class="col-sm-10">
                            <input type="number" name="price" id="add-price" style="width: 60px;">&nbsp;元
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="add_btn" th:onclick="addMeal()">确定</button>
            </div>
        </div>
    </div>
</div>



<!--编辑套餐-->
<div class="modal fade" id="modal-container-edit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="edit">
                    编辑
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="edit-meal-form" action="/comboMeal/edit">
                    <input type="hidden" id="add-mealId" name="mealId">
                    <div class="form-group">
                        <label for="edit-meal-name" class="col-sm-2 control-label" style="padding-top:0;">
                            套餐名:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="mealName" id="edit-meal-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-perspace" class="col-sm-2 control-label" style="padding-top:0;">
                            个人空间:
                        </label>
                        <div class="col-sm-10">
                            <input type="number" name="perSpace" id="edit-perSpace" style="width: 60px;">&nbsp;GB
                        </div>
                    </div>
                    <div class="form-group" id="edit-teamSpace-input">
                        <label for="edit-teamSpace" class="col-sm-2 control-label" style="padding-top:0;">
                            团队空间:
                        </label>
                        <div class="col-sm-10">
                            <input type="number" name="teamSpace" id="edit-teamSpace" style="width: 60px;">&nbsp;GB
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-deadline" class="col-sm-2 control-label" style="padding-top:0;">
                            期限:
                        </label>
                        <div class="col-sm-10">
                            <input type="number" name="deadline" id="edit-deadline" style="width: 60px;">&nbsp;年
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-price" class="col-sm-2 control-label" style="padding-top:0;">
                            价钱:
                        </label>
                        <div class="col-sm-10">
                            <input type="number" name="price" id="edit-price" style="width: 60px;">&nbsp;元
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="edit-meal">确定</button>
            </div>
        </div>
    </div>
</div>

</div>
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/jQueryUI/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/raphael/raphael-min.js"></script>
<script src="../plugins/morris/morris.min.js"></script>
<script src="../plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="../plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="../plugins/knob/jquery.knob.js"></script>
<script src="../plugins/daterangepicker/moment.min.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.js"></script>
<script src="../plugins/daterangepicker/daterangepicker.zh-CN.js"></script>
<script src="../plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="../plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../plugins/fastclick/fastclick.js"></script>
<script src="../plugins/iCheck/icheck.min.js"></script>
<script src="../plugins/adminLTE/js/app.min.js"></script>
<script src="../plugins/treeTable/jquery.treetable.js"></script>
<script src="../plugins/select2/select2.full.min.js"></script>
<script src="../plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="../plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js"></script>
<script src="../plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="../plugins/bootstrap-markdown/locale/bootstrap-markdown.zh.js"></script>
<script src="../plugins/bootstrap-markdown/js/markdown.js"></script>
<script src="../plugins/bootstrap-markdown/js/to-markdown.js"></script>
<script src="../plugins/ckeditor/ckeditor.js"></script>
<script src="../plugins/input-mask/jquery.inputmask.js"></script>
<script src="../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="../plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="../plugins/chartjs/Chart.min.js"></script>
<script src="../plugins/flot/jquery.flot.min.js"></script>
<script src="../plugins/flot/jquery.flot.resize.min.js"></script>
<script src="../plugins/flot/jquery.flot.pie.min.js"></script>
<script src="../plugins/flot/jquery.flot.categories.min.js"></script>
<script src="../plugins/ionslider/ion.rangeSlider.min.js"></script>
<script src="../plugins/bootstrap-slider/bootstrap-slider.js"></script>
<script src="../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="../plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    $(document).ready(function () {

        // 选择框
        $(".select2").select2();

        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale: 'zh-CN'
        });
    });


    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    $(document).ready(function () {

        // 激活导航位置
        setSidebarActive("admin-datalist");

        // 列表按钮
        $("#dataList td input[type='checkbox']").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
        });
        // 全选操作
        $("#selall").click(function () {
            var clicks = $(this).is(':checked');
            if (!clicks) {
                $("#dataList td input[type='checkbox']").iCheck("uncheck");
            } else {
                $("#dataList td input[type='checkbox']").iCheck("check");
            }
            $(this).data("clicks", !clicks);
        });
    });



    $('#sid').change(function () {
        if($('#sid').val() == 1){
            $('#search_content').prop('name','userName')
        }else{
            $('#search_content').prop('name','phone')
        }
    });

    /*
    删除用户
    */

    function deleteUser() {
        let idList = $('.content-mealId');
        let id = [];
        for ( i = 0; i < idList.length; i++) {
            if(idList.eq(i).prop('checked')){
                id.push("'"+idList.eq(i).attr('data-mealId')+"'");
            }
        }
        if(id.length == 0){
            alert('请选择要删除的套餐！')
            return false;
        }
        let json = '{"comboMealId":['+id+']}'
         if (confirm("确定要删除这些套餐")) {
            $.ajax({
                url:"/comboMeal/delete",
                data:json,
                type:'post',
                contentType : "application/json",
                traditional: true,
                success:function (data) {
                    alert(data)
                    window.location.reload();
                }
            })
         }
    }





    //编辑窗口赋值
    function get(userId,maxSpace){
        //$('#edit_maxSpace').prop('value',maxSpace);
        $('#edit_userId').prop('value',userId);
        let space = count(maxSpace)
        $('#edit_maxSpace').prop('value',parseInt(space));
    }

    //编辑请求
    $('#edit_user').click(function() {
        let maxSpace = $('#edit_maxSpace').prop('value');
        let userId = $('#edit_userId').prop('value');

        console.log(maxSpace+"------"+userId);
        $.post('/editUser', {'userId': userId, 'maxSpace': maxSpace}, function (data) {
            if (data == 'OK') {
                alert('分配成功');
                window.location.reload();
            } else {
                alert('分配失败');
            }
        })
    });



    spaceChang();

    //
    function spaceChang() {
        let space = $('.max_space');
        for (let i = 0; i < space.length; i++) {
            space.eq(i).text(count(space.eq(i).attr('data-space'))+' GB');
        }
    }

    //转化空间成GB
    function count(space) {
        let unit = '';
        //unit = 'GB'
        space = (space / 1024 / 1024 / 1024).toFixed(0);
        return space + '';
    }

    //刷新
    function  refresh(){
        window.location.href = '/comboMeal/backgroundList';
    }

    //
    $('.paginate_button').eq( $('#page_num').attr('data-page')-1).addClass('active');


    //发送添加套餐请求
    function addMeal(){
        $.post('/comboMeal/add',$('#add-meal-form').serialize(),function (data){
            alert(data);
            window.location.reload();
        })
    }

    //设置编辑模态窗口值
    $('.btn-edit').click(function (){
        let num = $('.btn-edit').index(this);
        let type = $('.meal-type1').eq(num).attr('data-type');
        let mealId = $('.content-mealId').eq(num).attr('data-mealId');//
        let mealName = $('.content-mealName').eq(num).text();//套餐名
        let perSpace = $('.content-perSpace').eq(num).attr('data-perspace');//个人空间
        let teamSpace = $('.content-teamSpace').eq(num).attr('data-teamspace');//团队空间
        let deadLine = $('.content-deadline').eq(num).text();//期限
        let price = $('.content-price').eq(num).text();//价钱

        console.log(type);
        $('#add-mealId').prop('value',mealId);
        $('#edit-meal-name').prop('value',mealName);
        $('#edit-perSpace').prop('value',(perSpace/1024/1024/1024).toFixed(0));

        if(type == 2){
            console.log(teamSpace)
            $('#edit-teamSpace').prop('value',(teamSpace/1024/1024/1024).toFixed(0));
            $('#edit-teamSpace-input').css({
                display:'block',
            });
        }else{
            $('#edit-teamSpace-input').css({
               display:'none',
            });
        }

        $('#edit-deadline').prop('value',deadLine);
        $('#edit-price').prop('value',price);

        $('#add-mealId').prop('value',mealId);

    });
    
    //发送编辑请求
    $('#edit-meal').click(function () {
       $.post('/comboMeal/edit',$('#edit-meal-form').serialize(),function (data) {
           alert(data);
           window.location.reload();
       }); 
    });

    //上下架
    function loadingAndunloading(mealId,mStatus){
        $.post('/comboMeal/loadingAndunloading',{mealId:mealId,mStatus:mStatus},function (data) {
            alert(data);
            window.location.reload();
        });
    }


    $("#searchContent").keyup(function(e){
        if(e.keyCode==13){
           let searchContent  = $("#searchContent").prop('value')
            window.location.href = '/comboMeal/backgroundList?mealName='+searchContent;
        }
    })


    $('#add-meal-type').change(function () {
        let sel = $('#add-meal-type').prop('value');
        if(sel == 2){
            $('#add-teamspace-input').css({
            display:'block',
        });
        }else{
            $('#add-teamspace-input').css({
                display:'none',
            })
        }

    });
</script>
</body>

</html>