<!DOCTYPE html>
<html>

	<head>
		<!-- 页面meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>后台</title>
		<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">


		<link rel="stylesheet" href="./plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="./plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="./plugins/ionicons/css/ionicons.min.css">
		<link rel="stylesheet" href="./plugins/iCheck/square/blue.css">
		<link rel="stylesheet" href="./plugins/morris/morris.css">
		<link rel="stylesheet" href="./plugins/jvectormap/jquery-jvectormap-1.2.2.css">
		<link rel="stylesheet" href="./plugins/datepicker/datepicker3.css">
		<link rel="stylesheet" href="./plugins/daterangepicker/daterangepicker.css">
		<link rel="stylesheet" href="./plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
		<link rel="stylesheet" href="./plugins/datatables/dataTables.bootstrap.css">
		<link rel="stylesheet" href="./plugins/treeTable/jquery.treetable.css">
		<link rel="stylesheet" href="./plugins/treeTable/jquery.treetable.theme.default.css">
		<link rel="stylesheet" href="./plugins/select2/select2.css">
		<link rel="stylesheet" href="./plugins/colorpicker/bootstrap-colorpicker.min.css">
		<link rel="stylesheet" href="./plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
		<link rel="stylesheet" href="./plugins/adminLTE/css/AdminLTE.css">
		<link rel="stylesheet" href="./plugins/adminLTE/css/skins/_all-skins.min.css">
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./plugins/ionslider/ion.rangeSlider.css">
		<link rel="stylesheet" href="./plugins/ionslider/ion.rangeSlider.skinNice.css">
		<link rel="stylesheet" href="./plugins/bootstrap-slider/slider.css">
		<link rel="stylesheet" href="./plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
	</head>

	<body class="hold-transition skin-blue sidebar-mini">

		<div class="wrapper">

			<!-- 页面头部 -->
			<header class="main-header">


				<!-- Logo -->
				<a href="#" class="logo">
					<!-- mini logo for sidebar mini 50x50 pixels -->
					<span class="logo-mini"><b>OFMS</b></span>
					<!-- logo for regular state and mobile devices -->
					<span class="logo-lg"><b>办公文件管理</b>后台管理</span>
				</a>


				<!-- Header Navbar: style can be found in header.less -->
				<nav class="navbar navbar-static-top">
					<!-- Sidebar toggle button-->
					<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>

					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<!-- User Account: style can be found in dropdown.less -->
							<li class="dropdown user user-menu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<img src="./img/user2-160x160.jpg" class="user-image" alt="User Image">
									<span class="hidden-xs">张猿猿</span>
								</a>
								<ul class="dropdown-menu">
									<!-- User image -->
									<li class="user-header" style="height: 80px;">
										<p>
											张猿猿 - 数据管理员
											<small>最后登录 11:20AM</small>
										</p>
									</li>
									<!-- Menu Footer-->
									<li class="user-footer">
										<div class="pull-left">
											<a href="#" data-toggle="modal" class="btn btn-default btn-flat"
											   data-target="#modal-container-changePassword">修改密码</a>
										</div>
										<div class="pull-right">
											<a href="/logout" class="btn btn-default btn-flat">注销</a>
										</div>
									</li>
								</ul>
							</li>

						</ul>
					</div>
				</nav>
			</header>
			<!-- 页面头部 /-->

			<!-- 导航侧栏 -->
			<aside class="main-sidebar">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">
					<!-- Sidebar user panel -->
					<div class="user-panel">
						<div class="pull-left image">
							<img src="./img/user2-160x160.jpg" class="img-circle" alt="User Image">
						</div>
						<div class="pull-left info">
							<p>张猿猿</p>
							<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
						</div>
					</div>


					<!-- sidebar menu: : style can be found in sidebar.less -->
					<ul class="sidebar-menu">
						<li class="header">菜单</li>

						<li id="admin-index"><a href="#"><i class="fa fa-dashboard"></i> <span>首页</span></a></li>

						<!-- 菜单 -->

						<li class="treeview">
							<a href="#">
								<i class="fa fa-book"></i> <span>付费管理</span>
								<span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</a>
							<ul class="treeview-menu">
								<li id="admin-tarff">
									<a class="fw" href="#" _link="/comboMeal/backgroundList" >
										<i class="fa fa-circle-o"></i>套餐管理
									</a>
								</li>

								<li id="admin-order">
									<a class="fw" href="#" _link="/buyRecord/backgroundList" >
										<i class="fa fa-circle-o"></i>购买记录管理
									</a>
								</li>
							</ul>
						</li>

						<li class="treeview">
							<a href="#">
								<i class="fa fa-folder"></i> <span>账号管理</span>
								<span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</a>
							<ul class="treeview-menu">
								<li id="admin-user">
									<a class="fw" href="#" _link="/toAdminstrationUser?pageNum=1&pageSize=10" >
										<i class="fa fa-circle-o"></i>用户管理
									</a>
								</li>

<!--								<li id="admin-team">-->
<!--									<a class="fw" href="#" _link="/toAdminstrationUser?pageNum=1&pageSize=10" >-->
<!--										<i class="fa fa-circle-o"></i>团队管理-->
<!--									</a>-->
<!--								</li>-->
							</ul>
						</li>



						<li class="treeview">
							<a href="#">
								<i class="fa fa-pie-chart"></i> <span>日志管理</span>
								<span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</a>
							<ul class="treeview-menu">

								<li id="admin-log">
									<a class="fw" href="#" _link="/toAdminstrationLog" >
										<i class="fa fa-circle-o"></i> 登录日志
									</a>
								</li>
							</ul>
						</li>


						<!-- 菜单 /-->
					</ul>
				</section>
				<!-- /.sidebar -->
			</aside>
			<!-- 导航侧栏 /-->

			<!-- 内容区域 -->
			<div class="content-wrapper">
				<iframe id="main" class="main" frameborder="0" scrolling="no" width="100%" height="700px" style="position: relative; z-index: 2;"
				 src="/comboMeal/backgroundList?pageNum=1&pageSize=10">
				</iframe>
			</div>
			<!-- 内容区域 /-->

			<!-- 底部导航 -->
			<footer class="main-footer">
				<div class="pull-right hidden-xs">
					<b>天涯办公文件管理系统</b> 1.0.0
				</div>
				<strong> 2020-2021 <a href="#">广西大学行健文理学院-LZY</a>.</strong>
			</footer>
			<!-- 底部导航 /-->

		</div>



		<!--修改密码模态窗口-->
		<div class="row clearfix">
			<div class="col-md-12 column">
				<!--toggle and tagget-->
				<div class="modal fade" id="modal-container-changePassword" role="dialog" aria-labelledby="myModalLabel"
					 aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title" id="changePassword">
									修改密码
								</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="change_password" class="col-sm-2 control-label" style="padding-top:0;">
										新密码：</label>
									<div class="col-sm-10">
										<input type="password" name="password" id="change_password"/>
									</div>
								</div>
								<div class="form-group" style="margin-top: 51px;">
									<label for="check_password" class="col-sm-2 control-label" style="padding-top:0;">
										确认密码：</label>
									<div class="col-sm-10">
										<input type="password" name="password" id="check_password" style="margin-top: 10px"/>
									</div>
								</div>
							</div>
							<div class="modal-footer" style="margin-top: 45px;">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" onclick="changePassword()">确定</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





		<script src="./plugins/jQuery/jquery-2.2.3.min.js"></script>
		<script src="./plugins/jQueryUI/jquery-ui.min.js"></script>
		<script>
			$.widget.bridge('uibutton', $.ui.button);
		</script>
		<script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="./plugins/raphael/raphael-min.js"></script>
		<script src="./plugins/morris/morris.min.js"></script>
		<script src="./plugins/sparkline/jquery.sparkline.min.js"></script>
		<script src="./plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="./plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
		<script src="./plugins/knob/jquery.knob.js"></script>
		<script src="./plugins/daterangepicker/moment.min.js"></script>
		<script src="./plugins/daterangepicker/daterangepicker.js"></script>
		<script src="./plugins/daterangepicker/daterangepicker.zh-CN.js"></script>
		<script src="./plugins/datepicker/bootstrap-datepicker.js"></script>
		<script src="./plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
		<script src="./plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
		<script src="./plugins/slimScroll/jquery.slimscroll.min.js"></script>
		<script src="./plugins/fastclick/fastclick.js"></script>
		<script src="./plugins/iCheck/icheck.min.js"></script>
		<script src="./plugins/adminLTE/js/app.min.js"></script>
		<script src="./plugins/treeTable/jquery.treetable.js"></script>
		<script src="./plugins/select2/select2.full.min.js"></script>
		<script src="./plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
		<script src="./plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js"></script>
		<script src="./plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
		<script src="./plugins/bootstrap-markdown/locale/bootstrap-markdown.zh.js"></script>
		<script src="./plugins/bootstrap-markdown/js/markdown.js"></script>
		<script src="./plugins/bootstrap-markdown/js/to-markdown.js"></script>
		<script src="./plugins/ckeditor/ckeditor.js"></script>
		<script src="./plugins/input-mask/jquery.inputmask.js"></script>
		<script src="./plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
		<script src="./plugins/input-mask/jquery.inputmask.extensions.js"></script>
		<script src="./plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="./plugins/datatables/dataTables.bootstrap.min.js"></script>
		<script src="./plugins/chartjs/Chart.min.js"></script>
		<script src="./plugins/flot/jquery.flot.min.js"></script>
		<script src="./plugins/flot/jquery.flot.resize.min.js"></script>
		<script src="./plugins/flot/jquery.flot.pie.min.js"></script>
		<script src="./plugins/flot/jquery.flot.categories.min.js"></script>
		<script src="./plugins/ionslider/ion.rangeSlider.min.js"></script>
		<script src="./plugins/bootstrap-slider/bootstrap-slider.js"></script>
		<script src="./plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
		<script src="./plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
		<script>

			$(document).ready(function() {
				$('#mian').fadeToggle(2000);
				// 选择框
				$(".select2").select2();

				// WYSIHTML5编辑器
				$(".textarea").wysihtml5({
					locale: 'zh-CN'
				});
			});


			// 设置激活菜单
			function setSidebarActive(tagUri) {
				var liObj = $("#" + tagUri);
				if (liObj.length > 0) {
					liObj.parent().parent().addClass("active");
					liObj.addClass("active");
				}
			}


			$(document).ready(function() {
				// 激活导航位置
				setSidebarActive("admin-index");
			});


			/*
			左边菜单和右边显示关联
			*/

			$('.fw').click(function(){
				//获取_link
				var _link = $(this).attr("_link");
				console.log(_link);
				//改变src
				$("iframe").attr("src", _link);

			});

			function changePassword(){
				let newPassword =  $('#change_password').prop('value');
				//$('#check_password').prop('value');
				$.post('/changePassword',{'password':newPassword},function (data) {
					alert(data);
					window.location.reload();
				});

			}

		</script>
	</body>

</html>
<!---->
