<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!-- 头部导航-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">办公文件管理系统办公</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">控制台</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">18877165120</a>
                                </li>

                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">退出</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>

    <!-- 菜单和内容-->
    <div class="row clearfix">
        <!--菜单-->
        <div class="col-md-2 column">
            <!--手风琴菜单-->
            <div class="panel-group" id="panel-924077">
                <!--文件管理-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-element-962727">文件管理</a>
                    </div>
                    <div id="panel-element-962727" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/main">个人文件</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">开发部</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">销售部</a>
                        </div>
                    </div>
                </div>
                <!--成员管理-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-element-78315">成员管理</a>
                    </div>
                    <div id="panel-element-78315" class="panel-collapse collapse">
                        <div class="panel-body btn-primary">
                            <a href="#" style="color: white" class="btn" data-toggle="modal" data-target="#modal-container-new-department">+新建部门</a>
                        </div>

                        <div class="panel-body">
                            <a href="#">开发部</a>
                        </div>

                        <div class="panel-body">
                            <a href="#">销售部</a>
                        </div>

                        <div class="panel-body">
                            <a href="/department">待分配</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--内容-->
        <div class="col-md-10 column">

            <!--部门概况-->
            <div class="alert  alert-info">
                <h4>
                    开发部 <a href="#" class="alert-link">====>编辑</a>
                </h4>  已用:0B/总共:1TB
            </div>
            <!--添加成员、搜索-->
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#modal-container-new-member">添加成员</button>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div>  <button type="button" class="btn btn-default btn-primary">搜索</button>
                </form>
            </div>
            <!--成员信息-->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox">
                            </th>
                            <th>
                                用户
                            </th>
                            <th>
                                用户空间
                            </th>
                            <th>
                                邮箱/手机号
                            </th>
                            <th>
                                所属部门
                            </th>
                            <th>
                                状态
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="checkbox"/>
                            </td>
                            <td>
                                刘总
                            </td>
                            <td>
                                已用： 剩余：
                            </td>
                            <td>
                                -18877165120
                            </td>
                            <td>
                                开发部
                            </td>
                            <td>
                                最近访问：
                                2020/10/20
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#modal-container-edit">编辑</button>
                                <button type="button" class="btn btn-default btn-primary" id="app" @click="del">删除</button>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--添加成员模态窗口-->
<div class="row clearfix">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-new-member" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="new_member">
                            添加成员
                        </h4>
                    </div>
                    <div class="modal-body">
                        内容...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--编辑模态窗口-->
<div class="row clearfix">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-edit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="edit">
                            编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        内容...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新建部门模态窗口-->
<div class="row clearfix">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-new-department" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="new_department">
                            新建部门
                        </h4>
                    </div>
                    <div class="modal-body">
                        内容...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el:"#app",
        methods: {
            del:function(){
                alert("删除");
            }
        }


    })

</script>
</body>
</html>