<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>部门成员</title>
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <style>
        body{overflow-x:hidden;overflow-y:auto;}
    </style>
</head>
<body>

<!--========================内容=========================-->
<!--部门概况-->
<div class="alert  alert-info">
    <h4>
        [[${fileCabinet.fcName}]]
        <button class="btn btn-default btn-primary" data-toggle="modal" data-target="#modal-dept-edit">编辑</button>
    </h4>
    已用:0B/总共:1TB
</div>
<!--添加成员、搜索-->
<div class="btn-group">
    <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
            data-target="#modal-container-new-member">添加成员
    </button>
    <form class="navbar-form navbar-left" role="search" style="margin: 0;">
        <div class="form-group">
            <input type="text" class="form-control"/>
        </div>
        <button type="button" class="btn btn-default btn-primary">搜索</button>
    </form>
</div>
<!--成员信息-->
<div class="row clearfix">
    <div class="col-md-12 column">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" onchange="allCheck()" id="all_check">
                </th>
                <th>
                    用户
                </th>
                <th>
                    已用空间
                </th>
                <th>
                   剩余空间
                </th>
                <th>
                    邮箱/手机号
                </th>
                <th>
                    所属部门
                </th>
                <th>
                    状态
                </th>
                <th>
                    操作
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member:${memberList}">
                <td>
                    <input type="checkbox" class="all_check_button"/>
                </td>
                <td>
                    [[${member.userName}]]
                </td>
                <td class="used_space"  th:attr="data-space=${member.usedSpace}">

                </td>
                <td class="max_space"  th:attr="data-space=${member.maxSpace}">

                </td>
                <td>
                    [[${member.phone}]]
                </td>
                <td>
                    [[${member.deptName}]]
                </td>
                <td>
                    最近访问：
                    [[${member.recent}]]
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                            data-target="#modal-container-edit"  th:onclick="|get_member_mes(${member.id},${member.usedSpace},${member.maxSpace},${member.pUpload},${member.pDown},${member.pPreview})|">编辑
                    </button>
                    <button type="button" class="btn btn-default btn-primary" id="app"
                            th:onclick="|removeMember(${member.id},${member.getDeptId()})|">移除
                    </button>
                </td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
<!--========================各种模态窗口=========================-->

<!--添加成员模态窗口-->
<div class="row clearfix">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-new-member" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="new_member">
                            添加成员
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="add_member_from">
                            <input type="hidden" name="deptId" id="am_dept_id" th:value="${deptId}">
                            手机号码：<input type="text" id="am_dept_phone" name="userPhone"/>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" th:onclick="add_member()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--成员编辑模态窗口-->
<div class="row clearfix">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-edit" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="edit">
                            编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="edit_member">
                            <input type="hidden" id="edit_memberId" name="id"
                            th:attr="data-fcmaxspace=${fileCabinet.getMaxSpace()},
                                     data-fcusedspace=${fileCabinet.getUsedSpace()}">
                            <div class="form-group">
                                <label for="edit_maxSpace" class="col-sm-2 control-label"
                                       style="padding-top:3px;">可用总空间:</label>
                                <div class="col-sm-10">
                                    <input type="number" id="edit_maxSpace" style="width:80px;" name="maxSpace"> MB
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_p_upload" class="col-sm-2 control-label" style="padding-top:0;">
                                    用户权限:</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" id="edit_p_upload" name="pUpload" onclick="setCheck1()" value="0"/>上传 &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" id="edit_p_down" name="pDown" onclick="setCheck2()" value="0"/>&nbsp;下载 &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" id="edit_p_preview" name="pPreview" onclick="setCheck3()" value="0"/>&nbsp;预览 &nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="editMember()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--部门编辑模态窗口-->
<div class="row clearfix">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-dept-edit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="dept_edit">
                            编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="edit_dept">
                            <input type="hidden" name="deptId" id="edit_deptId" th:value="${deptId}"
                             th:attr="data-usermp=${session.USER_SESSION.getMaxSpace()},
                             data-userup=${session.USER_SESSION.getUsedSpace()},
                             data-maxspace=${fileCabinet.getMaxSpace()},
                             data-usedspace=${fileCabinet.getUsedSpace()}">

                            <div class="form-group">
                                <label for="edit_dept_name" class="col-sm-2 control-label" style="padding-top:3px;">部门名称:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="deptName" id="edit_dept_name" th:value="${fileCabinet.fcName}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit_dept_maxSpace" class="col-sm-2 control-label" style="padding-top:0;">
                                    部门总空间:</label>
                                <div class="col-sm-10">
                                    <input type="number" name="maxSpace" style="width:70px;" id="edit_dept_maxSpace" th:value="${(#numbers.formatDecimal((((fileCabinet.maxSpace.doubleValue()/1024)/1024)/1024),1,'COMMA',0,'POINT'))}" min="0">&nbsp;GB
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" th:onclick="|delete_dept(${deptId})|">解散部门</button>
                        <button type="button" class="btn btn-primary" th:onclick="editDept()">保存</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--========================js=========================-->


<script>


    /*
    全选
    */
    function allCheck(){
        var check = document.getElementById("all_check").checked;

        if(check == true){
            $(".all_check_button").prop("checked",true);
            console.log("true");
        }else{
            $(".all_check_button").prop("checked",false);
            console.log("false");
        }
    }

    /*
    解散部门
    */
    function delete_dept(deptId){
            if(confirm("确定要解散部门?（部门文件将会被删除，部门成员分配至“待分配”）")){
                $.post("/deleteDept",{"deptId":deptId}, function (date) {
                if (date == "OK") {
                    alert("解散成功");
                    window.parent.location.href="/menu";
                } else {
                    alert("解散失败");
                }
                });
            }


    }

    /*
    模态窗口获取成员信息
    */

    function get_member_mes(memberId,usedSpace,maxSpace,pUpload,pDown,pPreview){
        $("#edit_memberId").prop("value",memberId);
        $("#edit_maxSpace").prop("value",(maxSpace/1024/1024).toFixed(0));


        // let unit = 1;
        //
        // //单位下拉框改变事件
        // $('#unit').change(function () {
        //     unit = $('#unit').val();
        //     console.log('单位改变：'+unit)
        // })
        //输入框失去焦点事件
        $('#edit_maxSpace').blur(function () {
            let inputSpace;
            inputSpace = $('#edit_maxSpace').val()*1024*1024;   //分配的空间

            let fcMaxSpace = $('#edit_memberId').attr('data-fcmaxspace')      //文件柜最大空间
            let fcUsedSpace = $('#edit_memberId').attr('data-fcusedspace')    //文件柜已使用空间
            let surplus = parseInt(fcMaxSpace) - parseInt(fcUsedSpace);                 //剩余空间


            //如果分配的空间小于已使用空间
            if(inputSpace<usedSpace){
                let minSpace;
                minSpace = Math.ceil(usedSpace/1024/1024);
                $('#edit_maxSpace').prop('value',minSpace);
            }

            //如果分配的空间大于用户剩余空间
            if (inputSpace>surplus){
                let maxSpace;
                 maxSpace = (surplus/1024/1024).toFixed(0);
                $('#edit_maxSpace').prop('value',maxSpace);
            }
        })


        if(pUpload == 1){ $("#edit_p_upload").prop({checked:true,value:pUpload}) } ;
        if(pDown == 1)  $("#edit_p_down").prop({checked:true,value:pDown});
        if(pPreview == 1)  $("#edit_p_preview").prop({checked:true,value:pPreview});
    }

    /*设置check*/
    function setCheck1() {


        if($("#edit_p_upload").prop("checked")){
            $("#edit_p_upload").prop("value",1)
        }else{
            $("#edit_p_upload").prop("value",0)
        }
        console.log("p_upload:"+$("#edit_p_upload").prop("value"));
    }
    function setCheck2() {


        if($("#edit_p_down").prop("checked")){
            $("#edit_p_down").prop("value",1)
        }else{
            $("#edit_p_down").prop("value",0)
        }
        console.log("p_down:"+$("#edit_p_down").prop("value"));
    }
    function setCheck3() {

        if($("#edit_p_preview").prop("checked")){
            $("#edit_p_preview").prop("value",1)
        }else{
            $("#edit_p_preview").prop("value",0)
        }
        console.log("p_preview:"+$("#edit_p_preview").prop("value"));
    }
    
    
    /*
    添加新成员
    */
    function add_member() {
        $.post("/addMember", $("#add_member_from").serialize(), function (data) {
            if (data == "OK") {
                alert("添加成功");
                window.location.reload();
            }else if(data == 'MEMBER_EXIST') {
                alert("该用户已被分配或已存在’待分配‘中");
            }else if(data == 'FILE_CABINET_FULL'){
                alert("部门空间不足，请对部门空间进行扩容");
            } else {
                alert("添加失败");
            }

        });
    }


    /*
    移除成员
    */
    function removeMember(id,deptId) {
        if (confirm("确定要移除该成员吗")) {
            $.post("/removeMember", {"id":id,"deptId":deptId}, function (date) {
                if (date == "OK") {
                    alert("删除成功");
                    window.location.reload();
                } else {
                    alert("删除失败");
                }
            });
        }
    }


    /*
    删除成员
    */
    function deleteMember(id) {
        if (confirm("确定要删除该成员吗")) {
            $.post("/deleteMember", {"id": id}, function (date) {
                if (date == "OK") {
                    alert("删除成功");
                    window.location.reload();
                } else {
                    alert("删除失败");
                }
            });
        }
    }

    /*
    编辑部门
    */
    function editDept() {
            $.post("/editDept",$("#edit_dept").serialize(), function (date) {
                if (date == "OK") {
                    alert("保存成功");
                    window.location.reload();
                } else {
                    alert("保存失败");
                }
            });
    }


    /*
    编辑成员
    */
    function  editMember() {

        console.log("p_preview:"+$("#edit_p_preview").prop("value"));
        console.log("p_down:"+$("#edit_p_down").prop("value"));
        console.log("p_upload:"+$("#edit_p_upload").prop("value"));

        $.post("/editMember",{
            "id":$("#edit_memberId").prop("value"),
            "maxSpace":$("#edit_maxSpace").prop("value"),
            "pUpload":$("#edit_p_upload").prop("value"),
            "pDown":$("#edit_p_down").prop("value"),
            "pPreview":$("#edit_p_preview").prop("value")
        }, function (data) {
            if (data == "OK") {
                alert("保存成功！");
                window.parent.location.reload();
            }else if(data == 'FILE_CABINET_FULL'){
                alert("空间不足，请为部门扩容再进行分配！")
            }
            else {
                alert("保存失败！");
            }
        });




    }

    //单位转换显示-----------
    window.onload = count2();
    function count2(){
        let used_space = $('.used_space');
        let max_space = $('.max_space');

        //已使用空间
        for (let i=0; i<used_space.length ;i++) {
            let space = used_space.eq(i).attr('data-space')/1024/1024;
            let unit = 'MB';
            if(space>1024){
                space = space/1022
                unit = 'GB';
            }
            used_space.eq(i).text(space.toFixed(2)+unit);
        }

        //最大空间
        for (let i=0; i<max_space.length ;i++) {
            let space = max_space.eq(i).attr('data-space')/1024/1024;
            let unit = 'MB';
            if(space>1024){
                space = space/1022
                unit = 'GB';
            }
            max_space.eq(i).text(space.toFixed(0)+unit);
        }
    }


    //限制输入
    $('#edit_dept_maxSpace,#edit_maxSpace').keydown(function (e) {
        var code = parseInt(e.keyCode);
        if (code >= 96 && code <= 105 || code >= 48 && code <= 57 || code == 8) {
            return true;
        } else {
            return false;
        }
    })

    //分配文件柜空间
    $('#edit_dept_maxSpace').blur(function () {
        let userUsedSpace = $('#edit_deptId').attr('data-userup')   //用户最大空间
        let userMaxSpace = $('#edit_deptId').attr('data-usermp')    //用户最小空间
        let surplus = parseInt(userMaxSpace) - parseInt(userUsedSpace);                 //剩余空间
        let maxSpace = $('#edit_deptId').attr('data-maxspace')      //文件柜最大空间
        let usedSpace = $('#edit_deptId').attr('data-usedspace')    //文件柜已使用空间
        let inputSpace = $('#edit_dept_maxSpace').val()*1024*1024*1024;     //分配的空间
        //如果分配的空间小于已使用空间
        if(inputSpace<usedSpace){
            usedSpace = Math.ceil(usedSpace/1024/1024/1024);
            $('#edit_dept_maxSpace').prop('value',usedSpace);
        }

        //如果分配的空间大于用户剩余空间
        if (inputSpace>surplus+parseInt(maxSpace)){
            let count = ((surplus+parseInt(maxSpace))/1024/1024/1024).toFixed(0);

            $('#edit_dept_maxSpace').prop('value',count);
        }
    })





</script>
</body>
</html>