<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件管理</title>
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="/js/libs/jquery.ztree.core.min.js"></script>
    <style>
        body {
            overflow: hidden hidden;
        }

        #no_fix {
            /*position: fixed;*/
            /*z-index: 2;*/
            background: #ffffff;
        }

        .test {
            width: 101%;
            height: 541px;
            top: 182px;
            position: absolute;
            overflow: auto;
        }

        .scrollbar {
            width: 1px;
            height: 1200px;
            position: absolute;
        }

        .test::-webkit-scrollbar { /*滚动条整体样式*/
            width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
            height: 1px;

        }

        .test::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgb(153, 154, 156);
            background: #aeb0b2;

        }

        .test::-webkit-scrollbar-track { /*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            background: #EDEDED;
            display: none;

        }


        p {
            margin-top: 200px;
        }

        ul li {
            list-style-type: none;
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        #menu {
            border: 1px solid #ccc;
            background: #eee;
            position: absolute;
            width: 100px;
            display: none;
            position: absolute;
            z-index: 5;
        }

        .access-path {
            color: black
        }

        .access-path:hover {
            color: #4c9aff;
        }

        #all-delete {
            display: none;
        }

        select {
            height: 32px;
            width: 100px;
            box-sizing: border-box;
            padding-top: 1px;
        }

    </style>
</head>
<body>
<!--========================内容=========================-->
<div id="menu">
    <ul>
        <li><a href="#" rel="external nofollow">打开</a></li>
        <li><a href="#" rel="external nofollow">下载</a></li>
        <li><a href="#" rel="external nofollow">移动到</a></li>
    </ul>
</div>

<div id="no_fix">
    <!--部门概况-->
    <div class="alert  alert-info" style="margin-bottom: 0px;border-radius:0px">
        <h4>
            [[${title}]]</span>
            <!--当前文件夹-->
            <input type="hidden" id="now-dir" th:attr="data-now-dir=${dirId}" >
            <!--当前文件柜-->
            <input type="hidden" id="now-cabinet" th:if="${fileCabinet} != null" th:attr="data-now-cabinet=${fileCabinet.getDirId()}" >
            <input type="hidden" id="now-cabinet" th:if="${fileCabinet} == null" th:attr="data-now-cabinet=${accessPath.get(0).getDirId()}" >
        </h4>
        <div th:if="${fileCabinet} != null">
            已用：<span th:attr="data-usedspace=${fileCabinet.getUsedSpace()}" id="used_space"></span>/
            共：<span th:attr="data-maxspace=${fileCabinet.getMaxSpace()}" id="max_space"></span>
        </div>
        <div th:if="${deptMember} != null">
            已上传：<span th:attr="data-usedspace=${deptMember.getUsedSpace()}" id="memberUsed_space"></span>/
            可上传共：<span th:attr="data-maxspace=${deptMember.getMaxSpace()}" id="memberMax_space"></span>
        </div>
        <div th:if="${fileCabinet} == null and ${deptMember} == null">&nbsp;</div>
    </div>

    <ul class="breadcrumb" style="margin-bottom: 0px" th:if="${accessPath} != null">
        <li th:each="ap : ${accessPath}">
            <a th:href="@{/main(dirId = ${ap.dirId})}" class="access-path">[[${ap.dirName}]]</a>
        </li>
    </ul>

    <!--上传、新建、搜索-->
    <div class="btn-group" style="margin-left: 7px;">
        <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                data-target="#modal-container-upload" th:if="${#strings.isEmpty(typeSearch)} and
                ${shareDir == null}"> 上传
        </button>
        <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                data-target="#modal-container-new-dir" th:if="${#strings.isEmpty(typeSearch)} and ${shareDir == null}"> 新建文件夹
        </button>
        <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                data-target="#modal-container-new-share-dir"
                th:if="${#strings.isEmpty(typeSearch)} and
                (${permission ne null }  or
                ${session.USER_SESSION.getUserType() eq 2})and
                ${shareDir != null}"

        > 新建共享文件夹
        </button>
        <form class="navbar-form navbar-left" role="search" style="margin: 0;" action="/query"
              onsubmit="return checkSearch()">
            <div class="form-group">
                <input type="hidden" th:value="${dirId}" name="dirId">
                <input type="text" class="form-control" id="search-content" oninput="d_search()" name="queryName" placeholder="输入文件名或者文件类型"/>
            </div>
            <button type="submit" class="btn btn-default btn-primary">搜索</button>
        </form>
        <select id="sid" name="searchType" th:if="${typeSearch eq null}">
            <option>-请选择类型-</option>
            <option value="1" style="text-align: center">文档</option>
            <option value="2">视频</option>
            <option value="3">音频</option>
            <option value="4">图片</option>
        </select>
        <span style="display: inline-block">
            <button type="button" class="btn btn-default btn-primary" id="all-delete">删除选中文件</button>
        </span>
    </div>
    <table style="table-layout: fixed" class="table table-hover">
        <thead>
        <tr>
            <th style="width: 250px;">
                <input type="checkbox" data-type="3" id="all_check" style="margin-right: 8px;">
                文件
            </th>
            <th>
                文件类型
            </th>
            <th>
                上传时间
            </th>
            <th>
                大小
            </th>
            <th>
                上传人
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
    </table>
</div>

<div class="row clearfix test">
    <div class="scrollbar"></div>
    <div class="col-md-12 column">

        <table style="table-layout: fixed" class="table table-hover">
            <tbody>
            <!--循环输出文件夹-->
            <tr th:each="dir:${dirList}">
                <td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 250px;" th:title="${dir.getDirName()}" >
                    <!--复选框-->
                    <input type="checkbox" class="all_check_button" th:attr="data-type=1,data-dir-id=${dir.getDirId()}"
                           style="margin-right: 8px;"/>
                    <!--文件链接-->
                    <a class="dir-link" th:href="@{/main(dirId=${dir.dirId})}" style="color:#000000;" id="dir-img">
                        <!--图片文件-->
                        <img src="/images/dir.png">
                    </a>&nbsp;&nbsp;&nbsp;
                    <span name="rename-position"></span>
                    <!--文件链接-->
                    <a class="dir-link" th:href="@{/main(dirId=${dir.dirId})}" style="color:#000000;margin-left: -6px;"
                       name="a-rename">
                        <!--原文件夹名-->
                        <span name="origin-name">[[${dir.dirName}]]</span>
                    </a>
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                    <div name="main-funtion">
                        <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                                data-target="#modal-container-move" th:if="${accessPath} != null"
                                th:onclick="|move_file(${dir.dirId},null,${accessPath.get(0).getDirId()})|">
                            移动到
                        </button>
                        <button type="button" class="btn btn-default btn-primary"
                                th:onclick="|delete_dir(${dir.dirId})|" >
                            删除
                        </button>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-default btn-primary">
                                <span>...</span></button>
                            <ul class="dropdown-menu" style="min-width:60px;width: 50px">
                                <li>
                                    <a href="#" style="padding: 0px" name="rename-btn">重命名</a>
                                </li>
                                <li>
                                    <a type="button" th:href="@{/download(dirId=${dir.dirId})}">下载</a>
                                </li>
                                <li>
                                    <a type="button" th:if="${#strings.isEmpty(typeSearch)} and
                                        (${permission ne null }  or
                                        ${session.USER_SESSION.getUserType() eq 2})and
                                        ${shareDir != null}"
                                       data-toggle="modal"
                                       data-target="#modal-container-edit-share-dir">编辑</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            <!--循环输出文件-->
            <tr th:each="file:${fileList}">
                <td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;width: 250px;" th:title="${file.fileName}">
                    <!--复选框-->
                    <input type="checkbox" class="all_check_button"
                           th:attr="data-type=2,data-file-id=${file.getFileId()}" style="margin-right: 8px;"/>
                    <!--文件链接-->
                    <a th:href="@{/preview(fileId=${file.fileId})}" target="_blank"
                       style="color:black;margin-right: 5px;" disabled="true"
                       class="file-link">
                        <!--文件类型图片-->
                        <img th:src="@{'/images/'+${file.getFileType()}+'.png'}"
                             onerror="javascript:this.src='/images/winter.png';">
                    </a>
                    <span name="rename-position"></span>
                    <!--文件链接-->
                    <a th:href="@{/preview(fileId=${file.fileId})}" target="_blank"
                       style="color:black" disabled="true" class="file-link" name="a-rename">
                        <!--文件名-->
                        &nbsp;&nbsp;<span name="origin-name">[[${file.fileName}]]</span>
                    </a>
                </td>
                <td>[[${file.fileType}]]</td>
                <td th:text="${#dates.format(file.fileUploadTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td class="file-size" th:value="${file.fileSize}">[[${file.fileSize}]]</td>
                <td >
                    <span th:if="${file.getUserId() eq session.USER_SESSION.getUserId()}">我</span>
                    <span th:if="${file.getUserId() ne session.USER_SESSION.getUserId()}"
                          th:text="${file.getName()}"></span>
                </td>
                <td>
                    <div name="main-funtion">
                        <div th:if="${accessPath} != null" style="display: inline-block">
                            <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                                    data-target="#modal-container-move"
                                    th:if="${file.getUserId() eq session.USER_SESSION.getUserId()} or ${session.USER_SESSION.getUserId() eq nowDir.getUserId()}"
                                    th:onclick="|move_file(null,${file.fileId},${accessPath.get(0).getDirId()})|">移动到
                            </button>
                        </div>
                        <button type="button" class="btn btn-default btn-primary"
                                th:if="${file.getUserId() eq session.USER_SESSION.getUserId()} or ${session.USER_SESSION.getUserId() eq nowDir.getUserId()}"
                                th:onclick="|delete_file(${file.fileId})|">删除
                        </button>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-default btn-primary">
                                <span>...</span></button>
                            <ul class="dropdown-menu" style="min-width:60px;width: 50px">
                                <li>
                                    <a th:if="${file.getUserId() eq session.USER_SESSION.getUserId()} or ${session.USER_SESSION.getUserType() eq 2}" href="#" style="padding: 0px" name="rename-btn">重命名</a>
                                </li>
                                <li>
                                    <a type="button" th:href="@{/download(fileId=${file.fileId},dirId=${file.dirId})}">下载</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

</div>
</div>
<!--========================各种模态窗口=========================-->

<!--上传文件模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-upload" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            上传文件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form onsubmit="return fileCheck()" id="uploal_form" method="post"
                              enctype="multipart/form-data">
                            <input type="hidden" th:value="${dirId}" name="dirId" id="upload_dirId">
                            <input type="file" id="file" name="uploadfile"/>

                        </form>
                        <span style="margin-top: 0;position: absolute;right: 122px;top: 23px;">*上传文件大小不能大于<span style="color: red">500M</span></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="uploadFile()">上传</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--新建文件夹模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-new-dir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="new_dir">
                            新建文件夹
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="newDir">
                            <input type="hidden" th:value="${dirId}" name="dirId">
                            文件夹名 ：<input type="text" name="dirName" id="add-dir">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="new_dir()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新建共享文件夹模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-new-share-dir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="new_share-dir">
                            新建共享文件夹
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="new-share-dir-form">
                            <input type="hidden" th:value="${dirId}" name="dirId">
                            <div class="form-group">
                                <label for="add-share-dir" class="col-sm-2 control-label" style="padding-top:3px;">文件夹名:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="dirName" id="add-share-dir">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="add-share-level" class="col-sm-2 control-label" style="padding-top:3px;"> 等级 :</label>
                                <div class="col-sm-10">
                                    <input type="number" name="dirLevel" id="add-share-level" style="width: 50px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dir-level-describe" class="col-sm-2 control-label" style="padding-top:3px;">描述 :</label>
                                <div class="col-sm-10">
                                    <textarea id="dir-level-describe" name="level-describe"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="newShareDir()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新建共享文件夹模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-edit-share-dir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="edit_share-dir">
                            编辑可见等级
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="edit-share-dir-form">
                            <input type="hidden" th:value="${dirId}" name="dirId">
                            <div class="form-group">
                                <label for="edit-share-level" class="col-sm-2 control-label" style="padding-top:3px;"> 等级 :</label>
                                <div class="col-sm-10">
                                    <input type="number" name="dirLevel" id="edit-share-level" style="width: 50px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="edit-dir-level-describe" class="col-sm-2 control-label" style="padding-top:3px;">描述 :</label>
                                <div class="col-sm-10">
                                    <textarea id="edit-dir-level-describe" name="level-describe"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="editShareDir()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新建部门模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-new-department" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="new_department">
                            新建部门
                        </h4>
                    </div>
                    <div class="modal-body">
                        内容...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--移动文件夹模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-move" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="move">
                            移动文件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="move_dir_id">
                        <input type="hidden" id="move_file_id">
                        <!-- -------------------------------------------------------------------------- -->
                        <div class="content_wrap">
                            <div class="zTreeDemoBackground left">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------------------- -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="ack_move_dir()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--========================js=========================-->

<script>

    /*
    * 批量删除文件
    * */
    $('.all_check_button,#all_check').change(function () {


        if ($(this).attr('data-type') == 3) {
            var check = document.getElementById("all_check").checked; //获取全选复选框的状态
            if (check == true) {
                $(".all_check_button").prop("checked", true);  //设置所有复选框的为选中状态
                $('#all-delete').css({
                    display: 'block',
                });
            } else {
                $(".all_check_button").prop("checked", false); //设置所有复选框的为不选中状态
                $('#all-delete').css({
                    display: 'none',
                });
            }
        }

        let idList = $('.all_check_button');
        let dirId = [];
        let fileId = [];
        let flag = false;
        for (let i = 0; i < idList.length; i++) {
            if (idList.eq(i).attr('data-type') == 1 && idList.eq(i).prop('checked')) {
                dirId.push(idList.eq(i).attr('data-dir-id'))
                flag = true;
            }
            if (idList.eq(i).attr('data-type') == 2 && idList.eq(i).prop('checked')) {
                fileId.push(idList.eq(i).attr('data-file-id'))
                flag = true;
            }
        }

        console.log(dirId.length, fileId.length)
        if (flag) {
            $('#all-delete').css({
                display: 'block',
            });

        } else {
            $('#all-delete').css({
                display: 'none',
            });
        }

        console.log(fileId);
        $('#all-delete').unbind('click')

        $('#all-delete').click(function () {
            if (confirm("确定要删除这些文件吗？")) {
                $.ajax({
                    url: '/deleteFileAndDir',
                    type: 'post',
                    data: {fileId: fileId, dirId: dirId},
                    traditional: true,
                    success: function (data) {
                        if (data == 'OK') {
                            alert('删除成功')
                            window.location.reload();
                        }
                    }
                })
            }
        })
    });


    /*新建共享文件夹*/
    function newShareDir() {
        //获取数据
        console.log($('#new-share-dir-form').serialize());
        //提交请求
        $.post('',{},function () {});
    }

    /*编辑共享文件夹可见等级*/
    function editShareDir() {
        //获取数据
        console.log($('#edit-share-dir-form').serialize());
        //提交请求
        $.post('',{},function () {});
    }

    /*
    新建文件夹
    */
    function new_dir() {

        //获取文件名
        let dirName = $('#add-dir').prop('value');
        //判断文件名是否为空
        if(dirName == ''){
            alert('文件名不能为空！');
            return false;
        }
        //校验文件名是否规范
        let regex = /.*[/\\<>:*?|].*/;
        if(regex.test(dirName)){
            alert("文件名不能包含 /\\ : * \" < > | ？");
            return false;
        }

        $.post("/newDir", $("#newDir").serialize(), function (date) {
                alert(date);
                window.location.reload();
        });
    }

    /*
    删除文件夹
    */
    function delete_dir(dirID) {
        if (confirm("确定要删除该文件夹吗？")) {
            $.post("/deleteDir", {"dirId": dirID}, function (date) {
                    alert(date);
                    window.location.reload();

            });
        }
    }

    /*
    删除文件
    */
    function delete_file(fileId) {
        if (confirm("确定要删除该文件吗？")) {
            $.post("/deleteFile", {"fileId": fileId}, function (date) {
                if (date == "OK") {
                    alert("删除成功");
                    window.location.reload();
                } else {
                    alert("删除失败!");
                }
            });
        }
    }


    /*
    上传文件文件
    */
    function uploadFile() {
        /*event = event ? event : window.event;
        let obj = event.srcElement? event.srcElement:event.target;*/
        let file = document.getElementById("file").value;
        if (file.length == 0 || file == "") {
            alert("请选 上传文件");
            return false;
        }
        let f = document.getElementById("file").files;
        if(f[0].size > 524288000){
            alert("文件大小超过500MB!");
            return false;
        }
        var formData = new FormData($("#uploal_form")[0]); //获得文件数据
        var dirId = document.getElementById("upload_dirId");
        $.ajax({
            type: "POST",
            url: "/fileUpload",
            data: formData, dirId,
            async: true,
            processData: false,
            contentType: false,
            success: function (data) {
                    alert(data);
                    window.location.reload();
            }
        });
    }


    spaceChang();

    function spaceChang() {

        $('#max_space').text(count($('#max_space').attr('data-maxspace')));
        $('#used_space').text(count($('#used_space').attr('data-usedspace')));


        $('#memberMax_space').text(count($('#memberMax_space').attr('data-maxspace')));
        $('#memberUsed_space').text(count($('#memberUsed_space').attr('data-usedspace')));

        let td = $('.file-size');

        for (let i = 0; i < td.length; i++) {
            let size = td.eq(i).attr('value');
            let unit = 'B'
            if (size > 1024) {
                unit = 'KB'
                size = (size / 1024).toFixed(0)
                if (size > 1024) {
                    unit = 'MB'
                    size = (size / 1024).toFixed(2)
                    if (size > 1024) {
                        unit = 'GB'
                        size = (size / 1024).toFixed(2)
                    }
                }
            }
            td.eq(i).text(size + unit);

        }
    }

    /*
    下载文件
    */
    function count(space) {
        let unit = '';
        unit = 'GB'
        space = (space / 1024 / 1024 / 1024).toFixed(2);
        return space + unit;
    }


    function move_file(dirId, fileId, parentId) {

        $('#move_dir_id').prop('value', dirId)
        $('#move_file_id').prop('value', fileId)
        $.post('/getDirListAadMove', {'dirId': dirId, 'parentId': parentId}, function (data) {
            console.log(data)
            var setting = {
                view: {
                    showLine: false,
                    showIcon: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                async: {
                    enable: false
                }
            }
            $(document).ready(function () {
                $.fn.zTree.init($("#treeDemo"), setting, JSON.parse(data));
            });
        });
    }

    //移动文件到
    function ack_move_dir() {
        let treeObj = $.fn.zTree.getZTreeObj("treeDemo"); //目录对象
        let nodeArray = treeObj.getSelectedNodes(true); //选中的对象数组
        let parentId = nodeArray[0].id      //选中对象的id属性
        let dirId = $('#move_dir_id').attr('value');
        let fileId = $('#move_file_id').attr('value');
        //移动文件
        $.post('/moveDirTo', {'dirId': dirId, 'fileId': fileId, 'parentId': parentId}, function (data) {
                alert(data);
                window.location.reload();

        });
    }

    $('.dir-link,.file-link').mouseenter(function () {
        $(this).css({
            color: '#4c9aff'
        });
        $('.dir-link,.file-link').mouseleave(function () {
            $(this).css({
                color: 'black'
            });
        })
    });


    function checkSearch() {
        let searchContent = $('#search-content').prop('value');
        if (searchContent == '') {
            return false;
        }
    }

    //重命名文件
    $('a[name=rename-btn]').click(function () {

        let renameBtn = $('a[name=rename-btn]').index(this);    //重命名按钮
        let dirName = $('span[name=origin-name]').eq(renameBtn).text(); //原文件名
        let a_rename = $('a[name=a-rename]').eq(renameBtn)     //原文件名a标签
        let main_funtion = $('div[name=main-funtion]').eq(renameBtn) //文件或文件夹对应功能区
        let checkbox = $('.all_check_button').eq(renameBtn);  //复选框标签
        let type = checkbox.attr('data-type');  //文件类型

        a_rename.css({
            display: 'none'
        });
        main_funtion.css({
            display: 'none'
        });

        //添加修改该输入框
        let inputName = $('<input type="text" placeholder="请输入文件名" ' +
            'onfocus="this.select()" style="margin-left: -6px;width: 150px" id="input-name" value="' + dirName + '">');
        inputName.appendTo($('span[name=rename-position]').eq(renameBtn));  //修改文件输入框
        inputName[0].focus();
        inputName.blur(function () {
            //判断字符是否合法
            var regex = /.*[/\\<>:*?|].*/;
            if(regex.test(inputName.prop('value'))){
                alert("文件名不能包含 /\\ : * \" < > | ？");
                return false;
            }

            //失去焦点时做判断
            if (dirName == inputName.prop('value') || inputName.prop('value') == '') {
                a_rename.css({
                    display: 'inline-block'
                });
                main_funtion.css({
                    display: 'block'
                });

            } else {
                if (confirm('确定修改？')) {
                    //修改文件加名
                    if (type == 1) {
                        let dirId = checkbox.attr('data-dir-id');
                        let dirName = inputName.prop('value');
                        $.post('/dirRename', {'dirId': dirId, 'dirName': dirName}, function (data) {
                            alert(data);
                        })
                    }
                    if (type == 2) {
                        let fileId = checkbox.attr('data-file-id');
                        let fileName = inputName.prop('value');
                        $.post('/fileRename', {'fileId': fileId, 'fileName': fileName}, function (data) {
                            if (data == 'OK') {
                                alert('修改成功！');
                            }else if(data == 'EXIST'){
                                alert('文件已存在！');
                            }else{
                                alert('修改失败！');
                            }
                        })
                    }
                    //刷新
                    window.location.reload();
                }
                a_rename.css({
                    display: 'inline-block'
                });
                main_funtion.css({
                    display: 'block'
                });

            }

            inputName.remove();
        })


    });


    //类型查询
    $('#sid').change(function () {
        let fileType = $('#sid').prop('value');
        let dirId = $('#now-cabinet').attr('data-now-cabinet');
        window.location.href = '/searchFile?fileType='+fileType+'&dirId='+dirId;
    })

    function d_search(){
        // let searchContent = $('#search-content').prop('value');
        // window.location.href='/query?queryName='+searchContent;
        //
        // $.ajax({
        //     url: '/query',
        //     type: 'post',
        //     data:
        //     success
        // })
    }



</script>


</body>
</html>