<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件管理</title>
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="/js/libs/jquery.ztree.core.min.js"></script>
    <style>
        body {
            overflow: hidden hidden;
        }
        #no_fix {
            /*position: fixed;*/
            /*z-index: 2;*/
            background: #ffffff;
        }

        .test {
            width: 101%;
            height: 467px;
            top: 182px;
            position: absolute;
            overflow: auto;
        }

        .scrollbar {
            width: 1px;
            height: 800px;
            position: absolute;
        }

        .test::-webkit-scrollbar { /*滚动条整体样式*/
            width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
            height: 1px;

        }

        .test::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgb(153, 154, 156);
            background: #aeb0b2;

        }

        .test::-webkit-scrollbar-track { /*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            background: #EDEDED;
            display: none;

        }


        p {
            margin-top: 200px;
        }

        ul li {
            list-style-type: none;
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        #menu {
            border: 1px solid #ccc;
            background: #eee;
            position: absolute;
            width: 100px;
            display: none;
            position: absolute;
            z-index: 5;

        }
        .access-path{color: black}
        .access-path:hover{
            color: #4c9aff;
        }

    </style>
</head>
<body>
<!--========================内容=========================-->
<div id="menu">
    <ul>
        <li><a href="#" rel="external nofollow">打开</a></li>
        <li><a href="#" rel="external nofollow">下载</a></li>
        <li><a href="#" rel="external nofollow">移动到</a></li>
    </ul>
</div>

<div id="no_fix">
    <!--部门概况-->
    <div class="alert  alert-info" style="margin-bottom: 0px;border-radius:0px">
        <h4>
            [[${accessPath.get(0).dirName}]]
        </h4>
        <div th:if="${fileCabinet} != null">
            已用：<span th:attr="data-usedspace=${fileCabinet.getUsedSpace()}" id="used_space"></span>/
            共：<span th:attr="data-maxspace=${fileCabinet.getMaxSpace()}" id="max_space"></span>
        </div>
        <div th:if="${deptMember} != null">
            已上传：<span th:attr="data-usedspace=${deptMember.getUsedSpace()}" id="memberUsed_space"></span>/
            可上传共：<span th:attr="data-maxspace=${deptMember.getMaxSpace()}" id="memberMax_space"></span>
        </div>
    </div>

    <ul class="breadcrumb" style="margin-bottom: 0px">
        <li th:each="ap : ${accessPath}">
            <a th:href="@{/main(dirId = ${ap.dirId})}" class="access-path">[[${ap.dirName}]]</a>
        </li>
    </ul>

    <!--上传、新建、搜索-->
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                data-target="#modal-container-upload" th:if="${not #strings.isEmpty(dirId)}"> 上传
        </button>
        <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                data-target="#modal-container-new-dir" th:if="${not #strings.isEmpty(dirId)}"> 新建文件夹
        </button>
        <form class="navbar-form navbar-left" role="search" style="margin: 0;" action="/query">
            <div class="form-group">
                <input type="text" class="form-control" name="queryName"placeholder="输入文件名或者文件类型"/>
            </div>
            <button type="submit" class="btn btn-default btn-primary">搜索</button>
        </form>
    </div>
    <table style="table-layout: fixed" class="table table-hover">
        <thead>
        <tr>
            <th>
                文件
            </th>
            <th>
                文件类型
            </th>
            <th>
                上传时间
            </th>
            <th>
                大小
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
    </table>
</div>

<div class="row clearfix test">
    <div class="scrollbar"></div>
    <div class="col-md-12 column">

        <table style="table-layout: fixed" class="table table-hover">
            <tbody>
            <!--循环输出文件夹-->
            <tr th:each="dir:${dirList}" >
                <td><a class="dir-link" th:href="@{/main(dirId=${dir.dirId})}" style="color:#000000;"><img src="/images/dir.png">&nbsp;&nbsp;&nbsp;[[${dir.dirName}]]</a></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                    <a type="button" class="btn btn-default btn-primary"
                       th:href="@{/download(dirId=${dir.dirId})}">下载</a>
                    <button type="button" class="btn btn-default btn-primary"
                            th:onclick="|delete_dir(${dir.dirId})|">
                        删除
                    </button>
                    <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                            data-target="#modal-container-move"
                            th:onclick="|move_file(${dir.dirId},null,${accessPath.get(0).getDirId()})|">
                        移动到
                    </button>
                </td>
            </tr>

            <!--循环输出文件-->
            <tr th:each="file:${fileList}">
                <td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;" th:title="${file.fileName}">
                    <a th:href="@{/preview(fileId=${file.fileId})}" target="_blank" style="color:black" disabled="true" class="file-link">
                    <img th:src="@{'/images/'+${file.getFileType()}+'.png'}" onerror="javascript:this.src='/images/winter.png';" >
                    &nbsp;&nbsp;&nbsp;[[${file.fileName}]]</a>
                </td>
                <td>[[${file.fileType}]]</td>
                <td th:text="${#dates.format(file.fileUploadTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td class="file-size" th:value="${file.fileSize}">[[${file.fileSize}]]</td>
                <td>
                    <button type="button" class="btn btn-default btn-primary"><a
                            th:href="@{/preview(fileId=${file.fileId})}" target="_blank" style="color: white"
                            disabled="true">预览</a></button>
                    <button type="button" class="btn btn-default btn-primary"
                            th:onclick="|delete_file(${file.fileId})|">删除
                    </button>
                    <a type="button" class="btn btn-default btn-primary"
                       th:href="@{/download(fileId=${file.fileId},dirId=${file.dirId})}">下载</a>
                    <button type="button" class="btn btn-default btn-primary" data-toggle="modal"
                            data-target="#modal-container-move"
                            th:onclick="|move_file(null,${file.fileId},${accessPath.get(0).getDirId()})|">移动到
                    </button>
                </td>
            </tr>


            </tbody>
        </table>
    </div>

</div>
</div>
<!--========================各种模态窗口=========================-->

<!--上传文件模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-upload" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            上传文件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form onsubmit="return fileCheck()" id="uploal_form" method="post"
                              enctype="multipart/form-data">
                            <input type="hidden" th:value="${dirId}" name="dirId" id="upload_dirId">
                            <input type="file" id="file" name="uploadfile"/>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="uploadFile()">上传</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--新建文件夹模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-new-dir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="new_dir">
                            新建文件夹
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="newDir">
                            <input type="hidden" th:value="${dirId}" name="dirId">
                            文件夹名 ：<input type="text" name="dirName">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="new_dir()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新建部门模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-new-department" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="new_department">
                            新建部门
                        </h4>
                    </div>
                    <div class="modal-body">
                        内容...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--移动文件夹模态窗口-->
<div class="row clearfix modals">
    <div class="col-md-12 column">
        <!--toggle and tagget-->
        <div class="modal fade" id="modal-container-move" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="move">
                            移动文件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="move_dir_id">
                        <input type="hidden" id="move_file_id">
                        <!-- -------------------------------------------------------------------------- -->
                        <div class="content_wrap">
                            <div class="zTreeDemoBackground left">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                        </div>
                        <!-- -------------------------------------------------------------------------- -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="ack_move_dir()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--========================js=========================-->

<script>

    /*
    新建文件夹
    */
    function new_dir() {
        $.post("/newDir", $("#newDir").serialize(), function (date) {
            if (date == "OK") {
                alert("创建成功");
                window.location.reload();
            } else {
                alert("创建失败，请联系客服");
            }
        });
    }

    /*
    删除文件夹
    */
    function delete_dir(dirID) {
        if (confirm("确定要删除该文件夹吗？")) {
            $.post("/deleteDir", {"dirId": dirID}, function (date) {
                if (date == "OK") {
                    alert("删除成功");
                    window.location.reload();
                } else {
                    alert("删除失败，请联系客服");
                }
            });
        }
    }

    /*
    删除文件
    */
    function delete_file(fileId) {
        $.post("/deleteFile", {"fileId": fileId}, function (date) {
            if (date == "OK") {
                alert("删除成功");
                window.location.reload();
            } else {
                alert("删除失败，请联系客服");
            }
        });
    }


    /*
    上传文件文件
    */
    function uploadFile() {
        var file = document.getElementById("file").value;
        if (file.length == 0 || file == "") {
            alert("请选 上传文件");
            return false;
        }

        var formData = new FormData($("#uploal_form")[0]); //获得文件数据
        var dirId = document.getElementById("upload_dirId");
        $.ajax({
            type: "POST",
            url: "/fileUpload",
            data: formData, dirId,
            async: true,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data == "successful") {
                    alert('上传成功！');
                    window.location.reload();
                } else if (data == "No Access") {
                    alert('您没有上传权限！');
                    window.location.reload();
                } else if (data == "full") {
                    alert('空间已达上限，请联系管理员加增空间！')
                }
            }
        });
    }


    spaceChang();

    function spaceChang() {

        $('#max_space').text(count($('#max_space').attr('data-maxspace')));
        $('#used_space').text(count($('#used_space').attr('data-usedspace')));


        $('#memberMax_space').text(count($('#memberMax_space').attr('data-maxspace')));
        $('#memberUsed_space').text(count($('#memberUsed_space').attr('data-usedspace')));

        let td = $('.file-size');

        for (let i = 0; i < td.length; i++) {
            let size = td.eq(i).attr('value');
            let unit = 'B'
            if (size > 1024) {
                unit = 'KB'
                size = (size / 1024).toFixed(0)
                if (size > 1024) {
                    unit = 'MB'
                    size = (size / 1024).toFixed(2)
                    if (size > 1024) {
                        unit = 'GB'
                        size = (size / 1024).toFixed(2)
                    }
                }
            }
            td.eq(i).text(size + unit);

        }
    }

    /*
    下载文件
    */
    function count(space) {
        let unit = '';
        unit = 'GB'
        space = (space / 1024 / 1024 / 1024).toFixed(2);
        return space + unit;
    }



    function move_file(dirId,fileId,parentId){

        $('#move_dir_id').prop('value',dirId)
        $('#move_file_id').prop('value',fileId)
        $.post('/getDirListAadMove',{'dirId':parentId},function (data) {
            console.log(data)
            var setting = {
                view: {
                    showLine: false,
                    showIcon: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                async: {
                    enable: false
                }
            }
            $(document).ready(function () {
                $.fn.zTree.init($("#treeDemo"), setting, JSON.parse(data));
            });
        });
    }

    //移动文件到
    function ack_move_dir(){
        let treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        let nodeArray = treeObj.getSelectedNodes(true);
        let parentId = nodeArray[0].id
        let dirId =  $('#move_dir_id').attr('value');
        let fileId =  $('#move_file_id').attr('value');
        //移动文件
        $.post('/moveDirTo',{'dirId':dirId,'fileId':fileId,'parentId':parentId},function (data){
            if(data=='OK'){
                alert("保存成功")
                window.location.reload();
            }else{
                alert("保存失败")
                window.location.reload();
            }
        });
    }

    $('.dir-link,.file-link').mouseenter(function(){
        console.log('test')
        $(this).css({
            color:'#4c9aff'
        });
        $('.dir-link,.file-link').mouseleave(function () {
            $(this).css({
                color:'black'
            });
        })
    });

</script>


</body>
</html>