<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>注册</title>



    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">

		<style>
			
			body{
				background: #E9ECEF;
				background: url("/images/155113cfa3a4d191b55fe274b1bd32f8.jpg");
			}
			#app{
				
			}
			.container{
				width: 408px;
				position: relative;
				top: 72px;
				background: #FFFFFF;
				box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
			}
			.col-md-4{
				width: 100%;
			}
			
			.col-sm-8 input{
				border-radius: 3px;
			}
			.col-sm-offset-2 button{
				border-radius: 5px;
				background: #007BFF;
				color: #FFFFFF;
			}
			.col-sm-offset-2 button:hover{
				background: #0069D9;
				color: #FFFFFF;
			}
			.error-tip{
				color: red;
				/*display: none;*/
			}

		</style>
		
		<script>
			$(function(){
		
			});
			
		</script>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-4 column">
						<div class="page-header">
							<h1>
								办公管理系统 <small>注册</small>
							</h1>
							<span>已有账号---></span><a href="/tolgoin">去登录</a>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-4 column">
						<div class="tabbable" id="tabs-161807">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#panel-965523" data-toggle="tab" >个人账号</a>
								</li>
								<li >
									<a href="#panel-182379" data-toggle="tab">团队账号</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane  active" id="panel-965523">
									<p>
										<!--个人账号注册-->
										<form class="form-horizontal"  id="register_form" method="post">
											<input type="hidden" id="type1" name="userType" value="1">
											<div class="form-group">
												<label for="user-name-label" class="col-sm-2 control-label" style="width: 96px;">账号名</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="user-name-label" placeholder="3-14位中文、字母、数字、下划线" name="username" />
													<span id="personal-user-error" class="error-tip"></span>
												</div>
											</div>
											<div class="form-group">
												<label for="personal-email" class="col-sm-2 control-label" style="width: 96px;">邮箱</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control" id="personal-email" placeholder="例如：2919586256@qq.com"/>
													<span id="personal-email-error" class="error-tip"></span>
												</div>
											</div>

											<div class="form-group">
												<label for="personal-phone" class="col-sm-2 control-label" style="width: 96px;" >手机号码</label>
												<div class="col-sm-8">
													<input type="text" name="userPhone" class="form-control" id="personal-phone" placeholder="11位手机号"/>
													<span id="personal-userPhone-error" class="error-tip"></span>
												</div>
											</div>
											

											<div class="form-group">
												<label for="personal-password" class="col-sm-2 control-label" style="width: 96px;">密码</label>
												<div class="col-sm-8">
													<input type="password" name="password" class="form-control" id="personal-password" placeholder="密码为6-16位字母、数字" />
													<span id="personal-password-error" class="error-tip"></span>
												</div>
											</div>

											<div class="form-group">
												<label for="personal-check-password" class="col-sm-2 control-label" style="width: 96px;" >确认密码</label>
												<div class="col-sm-8">
													<input type="password" class="form-control" id="personal-check-password" placeholder="请再次输入密码"/>
													<span id="personal-checkPassword-error" class="error-tip"></span>
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">
													<button type="button" class="btn btn-default" onclick="register()" style="margin-left:37%">提交</button>
												</div>
											</div>
										</form>
									</p>
								</div>
								<div class="tab-pane" id="panel-182379">
									<p>
										<!--团队账号注册-->
										<form class="form-horizontal" action="/register" id="register_form2" method="post" onsubmit="return check()">
											<input type="hidden" id="type2" name="userType" value="2">
											<div class="form-group">
												<label for="team-name" class="col-sm-2 control-label" style="width: 96px;">团队名</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="team-name"  name="teamName" placeholder="3-14位中文、字母、数字、下划线"/>
													<span id="error-team-name" class="error-tip"></span>
												</div>

											</div>

											<div class="form-group">
												<label for="team-username" class="col-sm-2 control-label" style="width: 96px;">账号名</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="team-username" name="username" placeholder="3-14位中文、字母、数字、下划线"/>
													<span id="error-team-username" class="error-tip"></span>
												</div>
											</div>
											<div class="form-group">
												<label for="team-email" class="col-sm-2 control-label" style="width: 96px;">邮箱</label>
												<div class="col-sm-8">
													<input type="email" name="email" class="form-control" id="team-email"  placeholder="例如：2919586256@qq.com"/>
													<span id="error-team-email" class="error-tip"></span>
												</div>
											</div>
											
											
											
											<div class="form-group">
												<label for="team-phone" class="col-sm-2 control-label" style="width: 96px;">手机号码</label>
												<div class="col-sm-8">
													<input type="text" name="userPhone" class="form-control" id="team-phone" placeholder="11位手机号"/>
													<span id="error-team-phone" class="error-tip"></span>
												</div>
											</div>

											<div class="form-group">
												<label for="team-password" class="col-sm-2 control-label" style="width: 96px;">密码</label>
												<div class="col-sm-8">
													<input type="password" name="password" class="form-control" id="team-password" placeholder="密码为6-16位字母、数字" />
													<span id="error-team-password" class="error-tip"></span>
												</div>
											</div>

											<div class="form-group">
												<label for="team-check-password" class="col-sm-2 control-label" style="width: 96px;">确认密码</label>
												<div class="col-sm-8">
													<input type="password" class="form-control" id="team-check-password" placeholder="请再次输入密码"/>
													<span id="error-team-check-password" class="error-tip"></span>
												</div>
											</div>


											<div class="form-group">
												<div class="col-sm-offset-2 col-sm-10">
													<button type="button" class="btn btn-default" onclick="register2()" style="margin-left:37%">提交</button>
												</div>
											</div>
										</form>
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>


				<script>
					//注册
					function register() {
						if(!personalCheck()) return false
						$.post("/register", $("#register_form").serialize(), function(data) {
								alert(data);
								if(data == '注册成功!') {
									window.location.href = "/page/login.html";
								}
								return false;
						});
					}

					function register2() {
						if(!teamCheck()) return false
						$.post("/register", $("#register_form2").serialize(), function(data) {
							 alert(data);
							if(data == '注册成功!') {
								window.location.href = "/page/login.html";
							}
							return false;
						});
					}

					//写成动态的check() ,参数传值+appendTo()
					function personalCheck(){
						let username = $('#user-name-label');
						let password = $('#personal-password');
						let checkPassword = $('#personal-check-password');
						let email = $('#personal-email');
						let phone = $('#personal-phone');

						let reg = /^[0-9a-zA-Z]+$/;
						let reg2 = /^[\w\u4e00-\u9fa5]+$/gi;
						let reg_email = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
						//用户名
						if (username.val() =="") {$('#personal-user-error').text("请填写用户名");return false}
						else if (username.val().length < 2) {$('#personal-user-error').text("用户名至少2个字符");return false}
						else if (username.val().length > 14) {$('#personal-user-error').text("用户名不能大于14个字符");return false}
						else if (!reg2.test(username.val())){ $('#personal-user-error').text("用户名只能由中文、数字、字母或下划线组成");return false}

						//邮箱
						if (email.val() =="") {$('#personal-email-error').text("请填写邮箱");return false}
						else if(!reg_email.test(email.val())){$('#personal-email-error').text("请正确填写邮箱");return false}

						//手机号
						if(phone.val().length == ""){$('#personal-userPhone-error').text("请填写手机号码");return false}
						else if(phone.val().length != 11){$('#personal-userPhone-error').text("手机号码不正确");return false}

						//密码
						if (password.val()== ""){$('#personal-password-error').text("请填写密码");return false}
						else if (password.val().length< 6){$('#personal-password-error').text("密码至少为6位");return false}
						else if (password.val().length> 14){$('#personal-password-error').text("密码不能大于14位");return false}
						else if (!reg.test(password.val())){$('#personal-password-error').text("密码只能由数字、字母线组成");return false}
						else if (password.val() != checkPassword.val()){$('#personal-checkPassword-error').text("密码不一致，请检查密码");return false}
						else return true
					}

					function teamCheck(){
						let len = 6;
						let teamName = $('#team-name');
						let username = $('#team-username');
						let password = $('#team-password');
						let checkPassword = $('#team-check-password');
						let email = $('#team-email');
						let phone = $('#team-phone');

						let reg = /^[0-9a-zA-Z_]+$/
						let reg2 =  /^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]+$/;
						let reg_email = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;

						if (teamName.val() =="") {$('#error-team-name').text("请填写团队名称");return false}
						else if (teamName.val().length < 2) {$('#error-team-name').text("用户名至少2个字符");return false}
						else if (teamName.val().length > 14) {$('#error-team-name').text("用户名不能大于14个字符");return false}
						else if (!reg2.test(teamName.val())){ $('#error-team-name').text("用户名只能由中文、数字、字母或下划线组成");return false}


						if (username.val() =="") {$('#error-team-username').text("请填写用户名");return false}
						else if (username.val().length < 2) {$('#error-team-username').text("用户名至少2个字符");return false}
						else if (username.val().length > 14) {$('#error-team-username').text("用户名不能大于14个字符");return false}
						else if (!reg2.test(username.val())){ $('#error-team-username').text("用户名只能由中文、数字、字母或下划线组成");return false}


						if (email.val() =="") {$('#error-team-email').text("请填写邮箱");return false}
						else if(!reg_email.test(email.val())){$('#personal-email-error').text("请正确填写邮箱");return false}

						if(phone.val() == ""){$('#error-team-phone').text("请填写手机号码");return false}
						if(phone.val().length != 11){$('#error-team-phone').text("手机号码不正确");return false}


						if (password.val()== ""){$('#error-team-password').text("请填写密码");return false}
						else if (password.val().length< len){$('#error-team-password').text("密码至少为6位");return false}
						else if (password.val().length> 14){$('#personal-password-error').text("密码不能大于14位");return false}
						else if (!reg.test(password.val())){$('#error-team-password').text("密码只能由数字、字母或下划线组成");return false}
						else if (password.val() != checkPassword.val()){$('#error-team-check-password').text("密码不一致，请检查密码");return false}
						else return true
					}


					$('.form-control').focus(function (){
						$(this).siblings().text('');
					});

				</script>

			</div>
		</div>
	</body>
</html>
